@import "tailwindcss";
@plugin "daisyui";
@theme{
    --color-orange-900: #ff7b00,
    --color-orange-800: #ff8800,
    --color-orange-700: #ff9500,
    --color-orange-600: #ffa200,
    --color-orange-500: #ffaa00,
    --color-orange-400: #ffb700,
    --color-orange-300: #ffc300,
    --color-orange-200: #ffd000,
    --color-orange-100: #ffdd00,
    --color-orange-50: #ffaa00,
}